altgraph==0.17.2
future==0.18.2
importlib-metadata==4.8.3
numpy==1.19.5
opencv-python==4.5.5.64
pefile==2021.9.3
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.0
pypiwin32==223
pywin32==303
pywin32-ctypes==0.2.0
typing_extensions==4.1.1
zipp==3.6.0
